exam reminder.json
{
  "name": "exam reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1264,
        80
      ],
      "id": "a7c1d9c7-4184-4101-974b-cba8558fde55",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jnk9BXw8rAJdbD7lcoqSUTPzUg4fnNUNvV-xPTQNxcI",
          "mode": "list",
          "cachedResultName": "students_exam",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnk9BXw8rAJdbD7lcoqSUTPzUg4fnNUNvV-xPTQNxcI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jnk9BXw8rAJdbD7lcoqSUTPzUg4fnNUNvV-xPTQNxcI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        80
      ],
      "id": "d4993883-0107-48a8-8a43-49327adbe1b0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MBtmbrv0S4rEWPnl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c678f176-c7d6-4ec1-bf9c-cd389b8e06c7",
              "leftValue": "={{ $json.Subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9ef5fbeb-9b94-4c63-954f-853409dc23bf",
              "leftValue": "={{ $json.Couse }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        48
      ],
      "id": "041f95d8-83dd-465b-a7a4-47a0b98885b3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{$now}}",
        "duration": 1,
        "outputFieldName": "tomorrowDate",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1040,
        80
      ],
      "id": "0cf0242b-b169-4c82-bd12-5ef2d924eb71",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.tomorrowDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "formattedTomorrowDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -832,
        80
      ],
      "id": "292c8b9c-5a73-44e6-8f2a-3e9d961477d3",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "702334729640055",
        "recipientPhoneNumber": "918160952334",
        "textBody": "=Reminder 📢 Tomorrow you have an exam: \nSubject: {{$json[\"Subject\"]}} \nCourse: {{$json[\"course\"]}} \nDate: {{$json[\"Date\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4cb2f29c-fd0c-45ea-a1fa-539237589bd9",
      "name": "Send message",
      "webhookId": "a72d8db9-6457-4a14-a3db-8c1128aa2d69",
      "credentials": {
        "whatsAppApi": {
          "id": "Zt92IoFUxtbuc3Go",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function node (JavaScript)\nif (items.length === 0) return [];\nconst rows = items.map(i => i.json);\nconst last = rows[rows.length - 1];\nreturn [{ json: last }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -96
      ],
      "id": "b2542b3d-6f96-4f6c-8bbd-29342326d2f2",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d06f844-2f6c-4b94-b9cb-feb45a72a914",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "187e41cb6ead9d3b8ddec3fc491a47c0cacbfcffe71067d5b16a4f0c998a6e18"
  },
  "id": "vvOV2kNFE14Z17C4",
  "tags": []
}
